{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to AI World</title>
    <link rel="stylesheet" href="{% static 'technology/styles/welcome.css' %}">
</head>
<body>
    <div class="welcome-container">
        <img src="{% static 'technology/images/ai_background.jpg' %}"/img>
        <h1>Welcome to the Future of AI</h1>
        <p>Explore the latest advancements in AI technology.</p>
        <a href="{% url 'home' %}" class="enter-btn">Enter AI World</a>
    </div>
</body>
</html>
